.custom-background-color{
  background-color:#ffd000;
}
.custom-button-color{
  background-color:#00c057;
  color:white;
  border:none;
  padding:10px;
  border:2px;
  border-radius:5px;
  font-weight:700;

}
.custom-card-color{
  background-color:#303037;
  color:white;
}
.custom-color{
  background-image:linear-gradient(orange, tomato);
}
#img{
  transition: transform 1s ease-in-out;
  
}
#img:hover{
  transform:scale(1.4);
}